<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li>
    <tr>
        <td>废品名称士大夫哈</td>
        <td>废品图片</td>
        <td>价格</td>
        <td>单价</td>
        <td>总数</td>
        <td>小计</td>
    </tr>
</li>
<li>
    <tr>
        <td>
            废品名称
        </td>
        <td>
            废品图片
        </td>
        <td>
            价格
        </td>
        <td>
            单价
        </td>
        <td>
            总数
        </td>
        <td>
            小计
        </td>
    </tr>
</li>
<li>
    <tr>
        <td>
            废品名称
        </td>
        <td>
            废品图片
        </td>
        <td>
            价格
        </td>
        <td>
            单价
        </td>
        <td>
            总数
        </td>
        <td>
            小计
        </td>
    </tr>
</li>

<table lay-even lay-skin="line" lay-size="lg">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>图片</th>
            <th>废品名称</th>
            <th>数量</th>
            <th>小计</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td><img width='60' height='60' src=E:/JAVA/signIn/timg.jpg></td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
            <td>贤心</td>
        </tr>
        <tr>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            <td>贤心</td>
        </tr>
        </tbody>
    </table>
</body>
</html>